@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0px;
}
body{
    background: url("img/main.png") no-repeat;
    background-position-x: 50%;
    background-position-y: 0.15%;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    width: 293px;
    height: 75px;

    line-height: 38px;
}
.top h1, p{
    font-weight: bold;
    text-align: center;
}
.top h1{
    font-size: 36px;
    text-transform: uppercase;
    color: #FF0000;
}
.top p{
    font-size: 24px;
    color: #FF0000;
    font-weight: normal;
}
.photo{
    display: contents;
}
.photo div{
    display: flex;
    align-items: center;
    width: 320px;
    height: 44px;

    background: #F98000;
}
.photo p{
    width: 221px;
    margin: 8px 0 8px 16px;

    font-size: 12px;
    font-weight: normal;
    text-align: left;
    line-height: 14px;

    color: #FFFFFF;
}
.photo #truck{
    width: 66.77px;
    height: 73px;
    margin-right: 30.32px;
}
form{
    display: contents;
    width: 288px;
}
form .under{
    margin: 16px 0 0 0;
    width: 284px;
    height: 32px;

    text-transform: uppercase;

    color: #FF0000;
}
form input[type=text]{
    width: 264px;
    padding: 8px;
    padding-left: 16px;
    margin-top: 16px;
    border-radius: 89px;
    border: 0;
    font-size: 14px;
    line-height: 16px;
    
    color: #979797;
    background: #E5E5E5;
}
form input[type=submit]{
    width: 216px;
    height: 48px;
    margin-top: 16px;

    background: linear-gradient(0deg, rgba(213, 29, 33, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #FF0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    border: 0;

    font-size: 36px;
    font-weight: 400;
    line-height: 42px;

    color: #FFFFFF;

    text-shadow: 0px 2px 3px #D51D21;
}
.text{
    color: #D51D21;
    margin-top: 16px;
}
.small{
    font-size: 14px;
    line-height: 16px;
}
main{
    display: grid;
    justify-content: center;
    justify-items: center;
}
.second{
    width: 320px;
    height: 278px;
    margin-top: 16px;

    background: #0C93A4;
}
#card{
    width: 131px;
    height: 168.55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 40px;
}
.info{
    width: 278px;
    height: 48px;
    display: flex;
    align-items: center;
    margin: 25px 0 6px 16px;
}
.info p{
    font-weight: 400;
    color: #000000;
    margin: 0;
    text-align: left;
}
.radiowrapp{
    display: flex;
    justify-content: center;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    display: none;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border:0;
    border-radius: 100%;
    background-color: #E5E5E5;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background:#0C93A4;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.last{
    width: 320px;
    height: 63px;
    margin: 32px 0 0 0;
    text-align: center;
    background: #0C93A4;
}
.last p{
    margin: 16px 0 15px 0;

    color: #FFFFFF;
}
#bottom{
    width: 288px;
    margin-top:16px;
}
#bottom p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}